loguru
apscheduler
flask
flask-cors
flask-wtf
sqlalchemy
sqlalchemy_serializer

yahooquery
backtrader
gevent

retrying
# pyfolio==0.9.2
# pymysql==1.1.0


robotframework-browser
selenium
robotframework-seleniumlibrary
certifi
rpaframework

# wtforms
# jwt