loguru==0.7.2
sqlalchemy==2.0.13
sqlalchemy_serializer==1.4.1
selenium==4.15.2
yahooquery==2.3.3
backtrader==1.9.78.123
gevent==23.9.1
apscheduler==3.10.4
flask-cors==4.0.0
retrying==1.3.4
pyfolio==0.9.2
tagui==1.50.0
pymysql==1.1.0